@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .animate-delay-200 {
    animation-delay: 0.2s;
  }
  
  .animate-delay-400 {
    animation-delay: 0.4s;
  }
  
  .animate-delay-600 {
    animation-delay: 0.6s;
  }
  
  .animate-delay-800 {
    animation-delay: 0.8s;
  }
}
